#main {
  width: 80%;
  margin: auto;
  padding: 16px 24px;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 10px 0;
}

#main > h1 {
  font-size: 42px;
}

#main > h1:first-child {
  margin-top: 100px;
}


/* Home ve Next buttonları */
.nextprev {
  display: flex;
  justify-content: space-between;
}

.nextprev a {
  padding: 8px 16px;
  background-color: var(--green-primary);
  border: 1px solid #cccccc;
  color: white;
  border-radius: 5px;
}


/* Info Kısmı*/
.info {
  display: flex;
  justify-content: flex-start;
  background-color: #D9EEE1;
  padding: 32px;
  margin: 24px -24px;
}

.info img {
  width: 100px;
  margin: 18px;
}
.info > div {
  margin: 18px;
}

.info p + p {
  margin-top: 24px;
}

.info a {
  display: block;
  width: fit-content;
  margin-top: 24px;
  padding: 8px 16px;
  background-color: var(--green-primary);
  border: 1px solid #cccccc;
  color: white;
  border-radius: 5px;
}


/** Genel komponent */
.component {
  margin: 24px 0;
  padding: 12px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
  
.component h1, h2, h3 {
  margin: 24px 0;
}

.component a {
  display: block;
  width: fit-content;
  margin-top: 24px;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 5px;
}

.component a:hover {
  background-color: #ccc;
}


/* Table-component **/
.table-cmp {
  margin: 24px 0;
  border-top: 1px solid #f1f1f1;
}

.table-cmp table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table-cmp input[type=text] {
  width: 90%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 5px;
}

table td, th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

table th:first-child, td:first-child {
  padding-left: 16px;
}

table tr:nth-child(odd){
  background-color: #f1f1f1;
}